---
- name: "StackHead::Project || Setup Container app"
  import_role:
    name: project_containerapp
  vars:
    containerapp__project_name: "{{ project_name }}"
    containerapp__expose: "{{ app_config.deployment.settings.expose }}"
    containerapp__services: "{{ app_config.deployment.settings.services }}"
    containerapp__registries: "{{ app_config.deployment.settings.registries | default([]) }}"

- name: "StackHead::Project || Update Nginx reverse proxy configuration"
  include_role:
    name: config_nginx
  vars:
    nginx_dockerapp: 1
    nginx_tf_template: "{{ playbook_dir }}/templates/terraform/nginx_server_block_docker.tf.j2"
    nginx_auth_basic: "{{ app_config.security.authentication|default([]) }}"
    nginx_vhost:
      server_name: "{{ app_config.domain }}"
      use_https: 1
      state: present
      filename: "{{ app_config.domain }}.conf"
