{{define "location"}}
    location /.well-known/acme-challenge {
        alias {{$.Paths.RootDirectory}}/acme-challenges/{{ $.Domain.Domain }}/.well-known/acme-challenge;
        location ~ /.well-known/acme-challenge/(.*) {
            default_type text/plain;
        }
    }
{{end}}

{{ define "location_file" -}}
        return 301 https://{{ .root.Domain.Domain }}$request_uri;
{{- end }}
