{{define "location"}}
    location /.well-known/acme-challenge {
        alias {{$.Paths.RootDirectory}}/acme-challenges/{{ $.Domain.Domain }}/.well-known/acme-challenge;
        location ~ /.well-known/acme-challenge/(.*) {
            default_type text/plain;
        }
    }
    {{template "location_file" (dict "root" $ "path" $path)}}
{{end}}
