{{define "listen_params"}}http2 {{if $.Options.NginxUseHttps}}ssl{{end}}{{end}}

{{define "options"}}
    gzip off;
{{end}}

{{define "location_file"}}
        proxy_pass http://localhost:{~ docker_ports[{{ .root.PortIndex }}] ~};
        proxy_http_version 1.1;
        proxy_redirect off;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $host;
        proxy_set_header Referer $http_referer;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Protocol $scheme;
        proxy_set_header X-Forwarded-Host $http_host;

        add_header Strict-Transport-Security 'max-age=15552000; includeSubDomains' always;

{{ if ge (dict_index_str $.root.Expose.ProxyWebsocketLocations $.path) 0 }}
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
{{- end}}
{{end}}

{{ define "sslcertificates" -}}
{{ if $.Options.NginxUseHttps }}
    ssl_certificate {{$.Paths.CertificatesProjectDirectory}}/fullchain.pem;
    ssl_certificate_key {{$.Paths.CertificatesProjectDirectory}}/privkey.pem;

    ssl_protocols TLSv1.2;
    ssl_ciphers EECDH+CHACHA20:EECDH+AES;
    ssl_ecdh_curve X25519:prime256v1:secp521r1:secp384r1;

    client_max_body_size 10G;
{{ end }}
{{- end }}
