{% set listen_params_v %}{% block listen_params %}{% endblock %}{% endset %}
server {
    listen {{ port }} {{ listen_params_v }};
    listen [::]:{{ port }} {{ listen_params_v }};
    server_name {{ domainConfig.domain }};

{% block options %}{% endblock %}

# SSL certificates
{% block sslcertificates %}{% endblock %}

# Locations
{% block location %}{% endblock %}
    location / {
{% block main_location %}{% endblock %}
        # Authentication
{% block authentication %}{% if domainConfig.security.authentication is defined and domainConfig.security.authentication|selectattr("type", "equalto", "basic")|list | length > 0 %}
        auth_basic           "{{ nginx_basicauth_title }}";
        auth_basic_user_file "{{ nginx_htpasswd_path }}/.{{ domainConfig.domain }}";
{% endif %}{% endblock %}
    }
}