{% extends "serverblock.https.j2" %}

{% block main_location %}
{% if domainConfig is defined and domainConfig.public_path is defined %}
        root {{ nativeapp__remote_path }}/{{ domainConfig.public_path }};
{% endif %}
{% if nginx_use_php is defined %}
        index index.php index.html index.htm;
        location ~ \.php$ {
           fastcgi_index index.php;
           include fastcgi_params;
           fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
        }
{% endif %}
{% endblock %}