{% set port = port|default(443) %}
{% extends "serverblock.j2" %}

{% block listen_params %}
http2 {% if nginx_usehttps %}ssl{% endif %}
{% endblock %}

{% block options %}
    gzip off;
{% endblock %}

{% block sslcertificates %}
{%- if nginx_usehttps %}
    ssl_certificate {{ stackhead__certificates_project_folder }}/fullchain.pem;
    ssl_certificate_key {{ stackhead__certificates_project_folder }}/privkey.pem;
    include /etc/nginx/h5bp/ssl/policy_modern.conf;
    client_max_body_size 10G;
{%- endif %}
{% endblock %}
