{% for domainConfig in app_config.domains if (domainConfig.security is defined and domainConfig.security.authentication is defined) %}
resource "local_file" "auth-{{ project_name }}-{{ domainConfig.domain|replace('.', '_') }}" {
  content     = <<EOF
{% for item in domainConfig.security.authentication if item.type == 'basic' %}
{{ item.username }}:{{ item.password|password_hash('sha512') }}
{% endfor %}
EOF
  filename = "{{ nginx_htpasswd_path }}/.{{ domainConfig.domain }}"
}
{% endfor %}