{
  "env": [
    {
      "name": "PROXY_PORT_x_y",
      "value": "123"
    }
  ],
  "fromAppTemplate": false,
  "name": "stackhead-{{ $.Project.Name }}",
  "stackFileContent": "{{ $.StackFileContent }}"
}
