#jinja2: trim_blocks:False
version: '2.4'
services:
{%- for service in dockerapp__services %}
  {{ service.name }}:
    container_name: stackhead-{{ dockerapp__project_name }}-{{ service.name }}
    image: {{ service.image }}
    restart: always
    {%- if service.user is defined %}
    user: {{ service.user }}
    {%- endif %}
    {%- if dockerapp__expose is defined and dockerapp__expose.service == service.name %}
    ports:
      - {{ dockerapp__expose.port }}
    {%- endif %}

    {%- if service.links is defined %}
    links:
      {%- for link in service.links %}
      - {{ link }}
      {%- endfor %}
    {%- endif %}
    {%- if service.environment is defined %}
    environment:
      {%- for envName, envVal in service.environment.items() %}
      {{ envName }}: {{ envVal }}
      {%- endfor %}
    {%- endif %}
{%- endfor %}
