{% if nginx_vhost.use_https %}
server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_vhost.server_name }};
    location /.well-known/acme-challenge {
        alias {{ stackhead__acme_folder }}/{{ nginx_vhost.server_name }};

        location ~ /.well-known/acme-challenge/(.*) {
            default_type text/plain;
        }
    }

    location / {
        return 301 https://{{ nginx_vhost.server_name }}$request_uri;
    }
}
{% endif %}

server {
{% if nginx_vhost.use_https %}
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    gzip off;
{% else %}
    listen 80;
    listen [::]:80;

    location /.well-known/acme-challenge {
        alias {{ stackhead__acme_folder }}/{{ nginx_vhost.server_name }};

        location ~ /.well-known/acme-challenge/(.*) {
            default_type text/plain;
        }
    }
{% endif %}

    include /etc/nginx/h5bp/basic.conf;

{% if nginx_vhost.server_name is defined %}
    server_name {{ nginx_vhost.server_name }};
{% endif %}

{% if nginx_vhost.use_https %}
    ssl_certificate {{ stackhead__certificates_folder }}/fullchain.pem;
    ssl_certificate_key {{ stackhead__certificates_folder }}/privkey.pem;
    ssl_trusted_certificate {{ stackhead__certificates_folder }}/chain.pem;
    include /etc/nginx/h5bp/ssl/policy_modern.conf;
    client_max_body_size 10G;
{% endif %}

{% if nginx_auth_basic is defined and nginx_auth_basic | length > 0 %}
    location / {
        auth_basic           "{{ nginx_basicauth_title }}";
        auth_basic_user_file "{{ nginx_htpasswd_path }}/.{{ nginx_project_name }}";
    }
{% endif %}

{% block location %}{% endblock %}
}