version: '3'
services:
{% for key, value in dockerapp__services.items() %}
  {{ key }}:
    container_name: stackhead-{{ dockerapp__project_name }}-{{ key }}
    image: {{ value.image }}
    restart: always
{% if value.expose_port is defined %}
    ports:
      - {{ value.expose_port }}
{% endif %}
{% if value.volumes is defined %}
    volumes:
{% for volume in value.volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if value.volumes is defined %}
    links:
{% for link in value.links %}
      - {{ link }}
{% endfor %}
{% endif %}
{% if value.environment is defined %}
    environment:
{% for envName, envVal in value.environment.items() %}
      {{ envName }}: {{ envVal }}
{% endfor %}
{% endif %}
{% endfor %}