version: '2.4'
services:
{%- for key, value in dockerapp__services.items() %}
  {{ key }}:
    container_name: stackhead-{{ dockerapp__project_name }}-{{ key }}
    image: {{ value.image }}
    restart: always
    {%- if value.user is defined %}
    user: {{ value.user }}
    {%- endif %}
    {%- if dockerapp__expose is defined and dockerapp__expose.service == key %}
    ports:
      - {{ dockerapp__expose.port }}
    {%- endif %}

    {%- if value.links is defined %}
    links:
      {%- for link in value.links %}
      - {{ link }}
      {%- endfor %}
    {%- endif %}
    {%- if value.environment is defined %}
    environment:
      {%- for envName, envVal in value.environment.items() %}
      {{ envName }}: {{ envVal }}
      {%- endfor %}
    {%- endif %}
{%- endfor %}