{{ range $index, $domainConfig := $.Project.Domains }}
  {{ range $index2, $expose := $domainConfig.Expose }}
    {{ if ne $expose.ExternalPort 443 }}

{{ $domainConfig.Domain }}{{ if ne $expose.ExternalPort 80 }}:{{ $expose.ExternalPort }}{{ end }} {
    reverse_proxy localhost:{{ getExternalPort $expose.Service $expose.InternalPort }}

{{ $basicAuths := getBasicAuths $domainConfig.Security.Authentication }}
{{ if $basicAuths }}
    basicauth * {
      {{ range $index3, $item := $basicAuths }}
        {{ $item.Username }} {{ b64enc ($item.Password | crypto.Bcrypt) }}
      {{ end }}
    }
{{ end }}
}
    {{ end }}
  {{ end }}
{{ end }}
