resource "nginx_server_block" "nginx-{{$.ProjectName}}" {
  filename = "{{$.ProjectName}}.conf"
  enable = true

  markers = {
    docker_ports = "{{$.AllPortsTfString}}"
  }
  markers_split = {
    docker_ports = ","
  }

  content = <<EOF
{{$.ServerConfig}}
EOF

{{if $.DependentContainers}}
  depends_on = [{{$.DependentContainers}}]
{{end}}

  provisioner "local-exec" {
    # Symlink project certificate files to snakeoil files after initial creation
    command = <<EOT
            ln -s {{ stackhead__snakeoil_fullchain }} {{ stackhead__certificates_project_folder }}/fullchain.pem || true &&
            ln -s {{ stackhead__snakeoil_privkey }} {{ stackhead__certificates_project_folder }}/privkey.pem || true &&
            sudo systemctl reload nginx
EOT
  }
  provisioner "local-exec" {
    when = destroy
    command = "sudo systemctl reload nginx"
  }
}
