---
- include_vars: "{{ playbook_dir }}/vars/internal.yml"
- include_vars: "{{ playbook_dir }}/vars/global.yml"

- import_tasks: "roles/stackhead_setup/tasks/facts-load.yml"
  ignore_errors: yes

- import_tasks: "roles/stackhead_setup/tasks/facts-deploy.yml"

- import_tasks: "roles/stackhead_setup/tasks/setup-basic.yml"

- import_tasks: "roles/stackhead_setup/tasks/setup-user.yml"

- import_tasks: "roles/stackhead_setup/tasks/setup-folders.yml"

- import_tasks: "roles/stackhead_setup/tasks/setup-terraform.yml"

- name: "Setup {{ _stackhead__webserver }} webserver"
  include_role:
    name: "{{ _stackhead__webserver }}"
  vars:
    stackhead_action: "setup"

- import_tasks: "roles/stackhead_setup/tasks/setup-docker.yml"
