resource "local_file" "auth-{{ domainConfig.domain }}" {
  content     = <<EOF
{% for item in domainConfig.security.authentication if item.type == 'basic' %}
{{ item.username }}:{{ item.password|password_hash('sha512') }}
{% endfor %}
EOF
  filename = "{{ nginx_htpasswd_path }}/.{{ domainConfig.domain }}"
}