resource "local_file" "foo" {
  content     = <<EOF
{%- for item in nginx_auth_basic if item.type == 'basic' %}
{{ item.username }}:{{ item.password|password_hash('sha512') }}
EOF
  filename = "{{ htpasswd_path }}"
}