#jinja2: trim_blocks:False
resource "nginx_server_block" "{{ resource_name }}" {
  filename = "{{ resource_name }}.conf"
  enable = true

  markers = {
    docker_ports = [
      {%- set loopvars = namespace(index=0, previous_service='') %}
      {%- for nginx_expose in containerapp__expose|sort(attribute='service') if nginx_expose.service is defined and nginx_expose.external_port != 443 %}
      {%- if loopvars.previous_service != nginx_expose.service %}
        {%- set loopvars.index = 0 %}
      {%- endif %}
      docker_container.stackhead-{{ project_name }}-{{ nginx_expose.service }}.ports[{{ loopvars.index }}].external{% if not loop.last %},{% endif %}
      {%- set loopvars.previous_service = nginx_expose.service %}
      {%- set loopvars.index = loopvars.index + 1 %}
      {%- endfor %}
    ]

  }

  content = <<EOF
{% for nginx_expose in containerapp__expose if nginx_expose.external_port != 443 %}
{% if nginx_expose.external_port == 80 %}
{{ lookup('template', "{{ stackhead__templates }}/nginx/serverblock.http.j2", template_vars=dict(ansible_loop=loop)) }}
{{ lookup('template', "{{ stackhead__templates }}/nginx/serverblock.container-reverseproxy.j2", template_vars=dict(ansible_loop=loop,base="https")) }}
{% else %}
{{ lookup('template', "{{ stackhead__templates }}/nginx/serverblock.container-reverseproxy.j2", template_vars=dict(ansible_loop=loop,port=nginx_expose.external_port,base="http")) }}
{% endif %}
{% endfor %}
EOF

{%- if nginx_expose is defined and nginx_expose.service is defined %}
  depends_on = [
{% for nginx_expose in containerapp__expose if nginx_expose.external_port != 443 %}
{% if not loop.first %},{% endif %}docker_container.stackhead-{{ project_name }}-{{ nginx_expose.service }}
{% endfor %}
  ]
{%- endif %}

  provisioner "local-exec" {
    command = "sudo systemctl reload nginx"
  }
}