resource "nginx_server_block" "{{ resource_name }}" {
  filename = "{{ resource_name }}.conf"
  enable = true

  content = <<EOF
{{ nginx_vhost_content }}
EOF

  provisioner "local-exec" {
    command = "sudo systemctl reload nginx"
  }
}