resource "nginx_server_block" "{{ resource_name }}" {
  filename = "{{ resource_name }}.conf"
  enable = true

  content = <<EOF
{{ lookup('template', "{{ playbook_dir }}/../templates/nginx/serverblock.http.j2") }}
{{ lookup('template', "{{ playbook_dir }}/../templates/nginx/serverblock.native-https.j2") }}
EOF

  provisioner "local-exec" {
    command = "sudo systemctl reload nginx"
  }
}