resource "tls_private_key" "{{ project_name }}-private_key" {
  algorithm = "RSA"
}

resource "acme_registration" "{{ project_name }}-reg" {
  account_key_pem = tls_private_key.{{ project_name }}-private_key.private_key_pem
  email_address   = "{{ certificates_email_address }}"
}

// Create folder for acme-challenges
// waiting on https://github.com/hashicorp/terraform-provider-local/pull/14
//{%- for domain in app_config.domains %}
// resource "local_directory" "acme-folder" {
//   directory = "{{ stackhead__acme_folder }}/{{ domain.domain }}"
// }
//{% endfor %}

resource "acme_certificate" "{{ project_name }}-certificate" {
  account_key_pem           = acme_registration.{{ project_name }}-reg.account_key_pem
  common_name               = "{{ app_config.domains[0].domain }}"
  subject_alternative_names = {{ app_config.domains[1:]|map(attribute='domain')|list|to_json|d([]) }}

  depends_on = [
    {{ server_resource_name }}.nginx-{{ project_name }}
  ]

  dns_challenge {
    method = "http"
    provider = "exec"

    config = {
      EXEC_PATH = "{{ stackhead__tf_project_folder }}/acme_challenge_resolver.sh"
      EXEC_MODE = "RAW"
    }
  }
}

resource "local_file" "{{ project_name }}-acme-privkey" {
  filename = "{{ stackhead__project_certificates_folder }}/privkey.pem"
  sensitive_content = acme_certificate.{{ project_name }}-certificate.private_key_pem
}

resource "local_file" "{{ project_name }}-acme-fullchain" {
  filename = "{{ stackhead__project_certificates_folder }}/fullchain.pem"
  sensitive_content = acme_certificate.{{ project_name }}-certificate.certificate_pem
  depends_on = [
    local_file.{{ project_name }}-acme-privkey
  ]
  provisioner "local-exec" {
    # Symlink to project certificate files to generated files
    command = <<EOT
        ln -sf {{ stackhead__project_certificates_folder }}/fullchain.pem {{ stackhead__certificates_project_folder }}/fullchain.pem &&
        ln -sf {{ stackhead__project_certificates_folder }}/privkey.pem {{ stackhead__certificates_project_folder }}/privkey.pem &&
        sudo systemctl reload nginx
EOT
  }
  provisioner "local-exec" {
    when = destroy
    # Symlink project certificate files to snakeoil files
    command = <<EOT
        ln -sf {{ stackhead__snakeoil_fullchain }} {{ stackhead__certificates_project_folder }}/fullchain.pem &&
        ln -sf {{ stackhead__snakeoil_privkey }} {{ stackhead__certificates_project_folder }}/privkey.pem &&
        sudo systemctl reload nginx
EOT
  }
}
