resource "tls_private_key" "private_key" {
  algorithm = "RSA"
}

resource "acme_registration" "reg" {
  account_key_pem = tls_private_key.private_key.private_key_pem
  email_address   = "certificate@saitho.me"
}

// Create folder for acme-challenges
// waiting on https://github.com/hashicorp/terraform-provider-local/pull/14
//{%- for domain in app_config.domains %}
// resource "local_directory" "acme-folder" {
//   directory = "{{ stackhead__acme_folder }}/{{ domain.domain }}"
// }
//{% endfor %}

resource "acme_certificate" "certificate" {
  account_key_pem           = acme_registration.reg.account_key_pem
  common_name               = "{{ app_config.domains[0].domain }}"
  subject_alternative_names = {{ app_config.domains[1:]|map(attribute='domain')|list|to_json|default([]) }}

  dns_challenge {
    method = "http"
    provider = "exec"

    config = {
      EXEC_PATH = "{{ stackhead__tf_project_folder }}/acme_challenge_resolver.sh"
      EXEC_MODE = "RAW"
    }
  }
}

resource "local_file" "acme-fullchain" {
  filename = "{{ stackhead__certificates_folder }}/fullchain.pem"
  content = acme_certificate.certificate.certificate_pem
}

resource "local_file" "acme-privkey" {
  filename = "{{ stackhead__certificates_folder }}/privkey.pem"
  content = acme_certificate.certificate.private_key_pem
}

resource "local_file" "acme-chain" {
  filename = "{{ stackhead__certificates_folder }}/chain.pem"
  content = acme_certificate.certificate.issuer_pem
}