name: Release

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    #needs: build
    env:
      GIT_AUTHOR_EMAIL: 64205253+stackhead-bot@users.noreply.github.com
      GIT_AUTHOR_NAME: stackhead-bot
      GIT_COMMITTER_EMAIL: 64205253+stackhead-bot@users.noreply.github.com
      GIT_COMMITTER_NAME: stackhead-bot
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - run: |
          go get github.com/mitchellh/gox
          go get github.com/tcnksm/ghr
      - uses: actions/checkout@v2
      #- run: |
      #    ./.github/workflows/release/build.sh
      - uses: go-semantic-release/action@v1
        id: semrel
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          gox -parallel 4 -osarch="linux/amd64 darwin/amd64 linux/arm windows/amd64" -ldflags="-extldflags '-static' -s -w -X github.com/getstackhead/stackhead/cli/main.VERSION=${{steps.semrel.outputs.version}}" -output="bin/{{.Dir}}_v${{steps.semrel.outputs.version}}_{{.OS}}_{{.Arch}}" .
          cd bin/ && shasum -a 256 * > ./stackhead-cli_v${{steps.semrel.outputs.version}}_checksums.txt && cd -
        if: steps.semrel.outputs.version != ''
        env:
          CGO_ENABLED: 0
      - run: ghr v${{ steps.semrel.outputs.version }} bin/
        if: steps.semrel.outputs.version != ''
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
