terraform {
  required_providers {
    acme = {
      source  = "getstackhead/acme"
      version = "1.5.0-patched2"
    }
    tls = {
      source  = "hashicorp/tls"
      version = "2.2.0"
    }
    local = {
      source  = "hashicorp/local"
      version = "1.4.0"
    }
    {{range .Providers}}
      {{ .Name }}{{if ne .NameSuffix "" }}-{{.NameSuffix}}{{end}} = {
        source = "{{ .Vendor }}/{{ .Name }}"
        version = "{{ .Version }}"
      }
    {{end}}
  }
}

{{$.AdditionalContent}}

